@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Source+Sans+Pro:wght@300;400;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // scroll-behavior: auto;

  font-size: 62.5%; // 1rem == 10px

  @include respond(tab-port) {
    font-size: 50%; // 1rem == 8px
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem == 9px
  }

  @include respond(big-desk) {
    font-size: 75%; // 1rem == 12px, 12/16
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $color-gray-d;
  background-color: $color-white;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: lighten($color-gray, 60);
    border-radius: $border-radius;
    width: 2rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($color-info, 20);
    border-radius: 4px;

    &:hover {
      background-color: $color-info;
    }
  }
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

button,
select,
option {
  font-family: 'Montserrat', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

p,
li,
span.span,
span.lots,
input {
  font-size: 1.5rem;
}

p {
  color: $color-black;
}

textarea {
  font-family: 'Montserrat', sans-serif;
}

.sep {
  height: 7px;
  width: 50px;
  background-color: $color-primary;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: $color-gray;
  font-size: 16px;
}

input,
textarea.styles {
  color: $color-gray;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
}
