.w {
  &-100p {
    width: 100%;
  }
}

@for $i from 1 through 5 {
  .row-span__#{$i} {
    grid-row: span $i;
  }

  .col-span__#{$i} {
    grid-column: span $i;
  }
}

@for $i from 1 through 5 {
  $measure: #{$i}rem;

  .m-#{$i} {
    margin: $measure !important;
  }

  .mt-#{$i} {
    margin-top: $measure !important;
  }

  .mb-#{$i} {
    margin-bottom: $measure !important;
  }

  .ml-#{$i} {
    margin-left: $measure !important;
  }

  .mr-#{$i} {
    margin-right: $measure !important;
  }

  .my-#{$i} {
    margin-top: $measure !important;
    margin-bottom: $measure !important;
  }

  .mx-#{$i} {
    margin-left: $measure !important;
    margin-right: $measure !important;
  }

  .p-#{$i} {
    padding: $measure !important;
  }

  .pt-#{$i} {
    padding-top: $measure !important;
  }

  .pb-#{$i} {
    padding-bottom: $measure !important;
  }

  .pl-#{$i} {
    padding-left: $measure !important;
  }

  .pr-#{$i} {
    padding-right: $measure !important;
  }

  .py-#{$i} {
    padding-top: $measure !important;
    padding-bottom: $measure !important;
  }

  .px-#{$i} {
    padding-left: $measure !important;
    padding-right: $measure !important;
  }
}
