@for $i from 0 through 6 {
  .p {
    &-#{$i} {
      padding: #{$i}rem !important;
    }

    &y-#{$i} {
      padding-top: #{$i}rem !important;
      padding-bottom: #{$i}rem !important;
    }

    &x-#{$i} {
      padding-left: #{$i}rem !important;
      padding-right: #{$i}rem !important;
    }

    &l-#{$i} {
      padding-left: #{$i}rem !important;
    }

    &r-#{$i} {
      padding-right: #{$i}rem !important;
    }

    &b-#{$i} {
      padding-bottom: #{$i}rem !important;
    }

    &t-#{$i} {
      padding-top: #{$i}rem !important;
    }
  }

  .m {
    &-#{$i} {
      margin: #{$i}rem !important;

      &n {
        margin: -#{$i}rem !important;
      }
    }

    &y-#{$i} {
      margin-top: #{$i}rem !important;
      margin-bottom: #{$i}rem !important;

      &n {
        margin-top: -#{$i}rem !important;
        margin-bottom: -#{$i}rem !important;
      }
    }

    &x-#{$i} {
      margin-left: #{$i}rem !important;
      margin-right: #{$i}rem !important;

      &n {
        margin-left: -#{$i}rem !important;
        margin-right: -#{$i}rem !important;
      }
    }

    &l-#{$i} {
      margin-left: #{$i}rem !important;

      &n {
        margin-left: -#{$i}rem !important;
      }
    }

    &r-#{$i} {
      margin-right: #{$i}rem !important;

      &n {
        margin-right: -#{$i}rem !important;
      }
    }

    &b-#{$i} {
      margin-bottom: #{$i}rem !important;

      &n {
        margin-bottom: -#{$i}rem !important;
      }
    }

    &t-#{$i} {
      margin-top: #{$i}rem !important;

      &n {
        margin-top: -#{$i}rem !important;
      }
    }
  }

  .--gap-#{$i} {
    gap: #{$i}rem !important;

    &-x-#{$i} {
      column-gap: #{$i}rem !important;
    }

    &-y-#{$i} {
      row-gap: #{$i}rem !important;
    }
  }
}

.m-auto {
  margin: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.d {
  &-f {
    display: flex;
  }

  &-b {
    display: block;
  }

  &-g {
    display: grid;
  }

  &-i {
    display: inline;
  }
}

.fd {
  &-col {
    flex-direction: column;
  }

  &-row {
    flex-direction: row;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;

  &-h {
    max-height: 100%;
    width: auto;
  }
}

// Border Radius
.--round {
  border-radius: $border-radius;
}

.--scroll {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 12px;
    height: auto;
    background-color: $color-gray-l;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-info;
    border-radius: $border-radius;

    &:hover {
      background: darken($color-info, 15%);
    }
  }
}

// Grid
