$color-primary: #14e95f;
$color-primary-l: #6df89e;
$color-primary-d: #13b14a;

$color-secondary: #3b437e;
$color-secondary-l: #656fb9;
$color-secondary-d: #263181;

$color-success: #14e95f;
$color-info: #007bce;
$color-warning: #d4a217;
$color-danger: #ff353f;

$color-white: #f6f8f8;
$color-black: #07090e;

$color-gray: #747581;
$color-gray-l: #c3c4ca;
$color-gray-d: #4b4b4d;

$border-radius: 8px;

// Font
$ff-main: 'Montserrat', sans-serif;
$ff-alt: 'Source Sans Pro', sans-serif;

// Z-index
$z-below: -1;
$z-base: 0;
$z-absolute: 1;
$z-fixed: 2;
$z-sidebar: 3;
$z-toast: 4;
