$color-primary: #14e95f;
$color-primary-l: #6df89e;
$color-primary-d: #13b14a;

$color-secondary: #404ba3;
$color-secondary-l: #7b84c7;
$color-secondary-d: #212c83;

$color-success: #14e95f;
$color-info: #007bce;
$color-warning: #e7ba3c;
$color-danger: #ff353f;

$color-light: #f0f0f0;
$color-white: #fff;
$color-black: #07090e;

$color-gray: #747581;
$color-gray-l: #c3c4ca;
$color-gray-d: #252527;

$border-radius: 8px;

// Shadows
$shadow-base: 0px 2px 9px -5px $color-gray-l;
$shadow-dark: 3px 3px 9px -6px $color-gray-d;

// Font
$ff-main: 'Montserrat', sans-serif;
$ff-alt: 'Source Sans Pro', sans-serif;

// Z-index
$z-below: -1;
$z-base: 0;
$z-absolute: 1;
$z-fixed: 2;
$z-sidebar: 3;
$z-toast: 4;
