@use 'sass:math';

.ui-spinner {
  aspect-ratio: 1 / 1;
  width: var(--spin-sz, 2rem);
  border-radius: 50%;
  border-width: var(--spin-w, 3px);
  border-style: solid;
  border-color: transparent;
  border-right-color: $color-gray;
  animation: spinner 2s ease-out infinite;
  margin: auto;
}
