.ui-screen {
  display: block;
  width: calc(100vw - 5rem);
  height: 100%;
  margin-left: auto;

  &__header {
    display: flex;
    align-items: center;
    height: 12rem;
    padding: 3rem 4rem 0rem;
    box-shadow: $shadow-base;
    background-color: $color-white;
  }

  &__heading {
    font-family: $ff-main;
    font-weight: 400;
  }

  &__right {
    margin: auto;
    margin-right: 2rem;
  }

  &__body {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    height: calc(100% - 12rem);

    &.--flex {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
