.section {
  height: max-content;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__body {
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
    row-gap: 0.6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    padding: 0.3rem 0.8rem;
    box-shadow: $shadow-dark;

    &:active {
      box-shadow: none;
    }
  }

  .col {
    flex: 1 1 100%;

    @for $i from 1 to 5 {
      &-#{$i} {
        flex: 0 1 calc(25% * (4 / $i));
      }

      &-gap-#{$i} {
        column-gap: #{$i}rem;
      }
    }

    &-auto {
      flex: 0 0 auto;
    }
  }
}
